<%- include('partials/header') %>
<div class="content">
  <div class="panel">
      <h2>Gestion des activités</h2>
      <div class="primaryPanel">Panel Principal</div>
      <div class="secondaryPanel">panel secondaire</div>
  </div>
</div>
<%- include('partials/side-menu') %>
