<%- include('partials/header') %>
<div class="content">
  <h2>Gestion des categories</h2>
  <div class="primaryPanel">Panel Principal</div>
  <div class="secondaryPanel">panel secondaire</div>
</div>
<%- include('partials/side-menu') %>
