<%- include('partials/header') %>
<div class="panel">
  <h2>Gestion des prix</h2>
  <div class="primaryPanel">
    <h3>Panel Principal</h3>
    <div class="secondaryPanel">Panel secondaire</div>
  </div>
</div>
<%- include('partials/side-menu') %>
