<%- include('partials/header') %>
<div class="panel">
  <h2>Gestion des categories</h2>
  <div class="primaryPanel">
    <div class="secondaryPanel">
      <div></div>
    </div>
  </div>
</div>
<%- include('partials/side-menu') %>
